# Node.js
node_modules/
.env

# Prisma
prisma/dev.db
prisma/dev.db-journal
.prisma/

# Next.js
.next/
out/

# Docker
volumes/
*.pid

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Test output
coverage/
